@{
  Layout = "_Layout";
}

<div class="container">
<h1>Add a Speciality</h1>

<form action="/specialities" method="post">
  <label for="SpecialityName">Speciality name</label>
  <input id="SpecialityName" name="SpecialityName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialities">Back to the list of all specialities.</a></p>

</div>
