@{
  Layout = "_Layout";
}

<div class="container">
  <h3><a href='/specialities'>View all specialities</a></h3>
  <h3><a href='/specialities/new'>Add a new speciality</a></h3>
  <h3><a href='/doctors'>View all doctors</a></h3>
  <h3><a href='/doctors/new'>Add a new doctor</a></h3>
  <h3><a href='/patients'>View all patients</a></h3>
  <h3><a href='/patients/new'>Add a new patient</a></h3>
</div>
